/* From libadwaita */
/* https://gitlab.gnome.org/GNOME/libadwaita/-/blob/3b34dfeb150ca091c7e73bc74a863a978028e318/src/stylesheet/_common.scss#L34 */
.window-controls-osd > button > image {
    color: alpha(white, .9);
    border: none;
    background-color: alpha(black, .7);
    background-clip: padding-box;
}

.soft-corners { border-radius: 18px; }

.sharp-corners { border-radius: 0; }

.timestamp { margin-bottom: -15px; }
#title-label { margin-bottom: -3px; }

.no-knob { margin: 6px 9px 6px 15px; }
.no-knob mark > indicator { min-height: 0; }

/* From Amberol */
/* https://gitlab.gnome.org/World/amberol/-/blob/763dbd9c102805a9c4bf10c3175e10cde69953ad/src/gtk/style.css#L151 */

.no-knob trough > highlight { min-height: 9px; min-width: 9px; }
.no-knob trough > slider { opacity: 0; }

