/* Taken from libadwaita */
/* https://gitlab.gnome.org/GNOME/libadwaita/-/blob/3b34dfeb150ca091c7e73bc74a863a978028e318/src/stylesheet/_common.scss#L34 */
.window-controls-osd > button > image {
    color: alpha(white, .9);
    border: none;
    background-color: alpha(black, .7);
    background-clip: padding-box;
}

/* Revert Clapper's custom styling */
/* https://github.com/Rafostar/clapper/blob/6d47aa3c6d8b2ef1b6ca6c0de90bac695590ff47/src/lib/clapper-gtk/css/styles.css#L1 */

clapper-gtk-video button.osd,
clapper-gtk-video box.osd,
clapper-gtk-video clapper-gtk-title-header.osd,
clapper-gtk-video .osd popover > contents,
clapper-gtk-video .osd popover > arrow {
	background-color: alpha(black, .7);
}

clapper-gtk-video menubutton.osd,
clapper-gtk-video .osd menubutton > popover > contents arrow {
	background-color: transparent;
}

clapper-gtk-extra-menu-button popover spinbutton {
  border-radius: 6px;
}

.soft-corners {
    border-radius: 18px;
}

.sharp-corners {
    border-radius: 0;
}
