/* Taken from libadwaita */
/* https://gitlab.gnome.org/GNOME/libadwaita/-/blob/3b34dfeb150ca091c7e73bc74a863a978028e318/src/stylesheet/_common.scss#L34 */
.window-controls-osd > button > image {
    color: alpha(white, .9);
    border: none;
    background-color: alpha(black, .7);
    background-clip: padding-box;
}

.osd {
	background-color: alpha(black, .7);
}

.osd arrow {
	background-color: transparent;
}
